* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  nav.topbar {
    background: var(--primary-color);
    background-image: linear-gradient(225deg, var(--primary-color) 0%, var(--primary-color) 82%, var(--secondary-color) 82%, var(--secondary-color) 100%);
    border-bottom: 1px solid rgb(0, 140, 255);
  }
  
  nav.topbar ._title {
    width: 140px;
    height: 50px;
  }
  nav.topbar ._title svg {
    width: 100%;
    height: 100%;
  }
  nav.topbar ._title svg path {
    fill: transparent;
  }
  nav.topbar ._title svg path {
    stroke-dasharray: 2000;
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 1s ease-in-out;
    -webkit-animation: draw 2s ease-in-out;
            animation: draw 2s ease-in-out;
    fill: white;
  }
  @-webkit-keyframes draw {
    0% {
      stroke-dashoffset: 2000;
    }
    25% {
      fill: white;
    }
    30% {
      fill: black;
    }
    40% {
      fill: white;
    }
    45% {
      fill: black;
    }
    55% {
      fill: white;
    }
    100% {
      stroke-dashoffset: 0;
      fill: white;
    }
  }
  @keyframes draw {
    0% {
      stroke-dashoffset: 2000;
    }
    25% {
      fill: white;
    }
    30% {
      fill: black;
    }
    40% {
      fill: white;
    }
    45% {
      fill: black;
    }
    55% {
      fill: white;
    }
    100% {
      stroke-dashoffset: 0;
      fill: white;
    }
  }
  
  nav.topbar #navbarNavDropdown a {
    font-size: 0.9rem;
    font-family: var(--links-font);
    color: var(--link-lightcolor);
    padding: 0.4rem 0.9rem;
    border-radius: 0.4rem;
    transition: 0.2s ease-in-out;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
  }
  
  nav.topbar #navbarNavDropdown a:hover {
    color: var(--second);
  }
  
  nav.topbar #navbarNavDropdown a.dropdown-item:hover {
    color: var(--secondary-color);
    background: unset;
  }
  
  nav.topbar .dropdown .dropdown-menu {
    background: var(--primary-color);
    padding: 0.5rem;
  }
  
  nav.topbar button i {
    color: var(--link-lightcolor);
    font-size: 1.5rem;
  }
  
  nav ~ button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0.3rem 0.7rem;
    border: 0;
    position: absolute;
    top: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    margin-top: 0.2rem;
    transition: color 0.2s ease-in-out;
    font-family: var(--links-font);
  }
  nav ~ button i {
    font-size: 1.3rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    color: white;
    transition: color 0.2s ease-in-out;
  }
  nav ~ button h6 {
    margin-bottom: 0;
    font-size: 0.8rem;
  }
  
  nav ~ button:hover {
    color: var(--secondary-color) !important;
  }
  nav ~ button:hover i {
    color: var(--secondary-color) !important;
  }
  
  @media (min-width: 768px) {
    nav.topbar #navbarNavDropdown li.dropdown:hover > .dropdown-menu {
      display: block;
      margin-top: 0 !important;
    }
  }
  @media (min-width: 0) and (max-width: 768px) {
    ul.navbar-nav {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      margin-left: auto;
    }
    nav.topbar #navbarNavDropdown a {
      text-align: right !important;
      padding-right: 0;
    }
    nav.topbar #navbarNavDropdown a.signup,
  nav.topbar #navbarNavDropdown a.login {
      text-align: center !important;
      padding-right: 0.9rem;
    }
    nav.topbar #navbarNavDropdown a.dropdown-item {
      text-align: center !important;
    }
    nav.topbar button.navbar-toggler {
      border: none;
    }
    nav.topbar button.navbar-toggler:focus {
      box-shadow: 0 0 10px var(--secondary-color);
    }
  }
  @media (max-width: 575.98px) {
    nav.topbar {
      padding: 0.25rem 0.5rem !important;
    }
  }/*# sourceMappingURL=nav.css.map */

  a:hover {
    color: violet !important;
  }

  a:active {
    color: green !important;
  }
